<a href="https://colab.research.google.com/github/BrianGwayi/Data-Processig--pySpark/blob/main/PySparkMlib.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
! pip install pyspark

Collecting pyspark
  Downloading pyspark-3.5.1.tar.gz (317.0 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 317.0/317.0 MB 3.5 MB/s eta 0:00:00
  Preparing metadata (setup.py) ... done
Requirement already satisfied: py4j==0.10.9.7 in /usr/local/lib/python3.10/dist-packages (from pyspark) (0.10.9.7)
Building wheels for collected packages: pyspark
  Building wheel for pyspark (setup.py) ... done
  Created wheel for pyspark: filename=pyspark-3.5.1-py2.py3-none-any.whl size=317488493 sha256=253daca2a4a23b3846fd48856345aded3eccc00a02c5869213d4430b23c1b3a8
  Stored in directory: /root/.cache/pip/wheels/80/1d/60/2c256ed38dddce2fdd93be545214a63e02fbd8d74fb0b7f3a6
Successfully built pyspark
Installing collected packages: pyspark
Successfully installed pyspark-3.5.1

In [7]:
from pyspark.sql import SparkSession
spark = SparkSession.builder.appName("Banking").getOrCreate()

In [ ]:
from google.colab import files
files.upload()

In [12]:
df = spark.read.csv("/content/Basic Banking Analytics.csv", header=True,inferSchema=True)

In [15]:
df.createOrReplaceTempView("df")

In [13]:
df.show(5)

+---------+---------------+---+------+-----------+-----------+----------------+-----------+--------------------+------------------+-------------+----------------------+--------------------+----------------+----------------------+----------------------+-------------------+------------+-------------+-----------------+---------------+------------------------+----------------+----------------+--------------+
|Client ID|           Name|Age|   Sex|Location ID|Joined Bank| Banking Contact|Nationality|          Occupation|Investment Advisor|Fee Structure|Loyalty Classification|Banking Relationship|Estimated Income|Superannuation Savings|Amount of Credit Cards|Credit Card Balance|  Bank Loans|Bank Deposits|Checking Accounts|Saving Accounts|Foreign Currency Account|Business Lending|Properties Owned|Risk Weighting|
+---------+---------------+---+------+-----------+-----------+----------------+-----------+--------------------+------------------+-------------+----------------------+--------------------+----------------+----------------------+----------------------+-------------------+------------+-------------+-----------------+---------------+------------------------+----------------+----------------+--------------+
| PKR81288|  Raymond Mills| 24|  Male|      34324|   5/6/2019|  Anthony Torres|   American|Safety Technician IV|       Victor Dean|         High|                  Jade|              Retail|       75,384.77|             17,677.95|                     1|             484.54|  776,242.92| 1,485,828.64|       603,617.88|     607,332.46|               12,249.96|    1,134,475.30|               1|             2|
| PKR65833|  Julia Spencer| 23|  Male|      42205| 12/10/2001|Jonathan Hawkins|    African| Software Consultant|     Jeremy Porter|         High|                  Jade|              Retail|      289,834.31|             17,398.92|                     1|           2,256.88|1,270,615.43|   641,482.79|       229,521.37|     344,635.16|               61,162.31|    2,000,526.10|               1|             3|
| PKR47499| Stephen Murray| 27|Female|       7314|  1/25/2010|   Anthony Berry|   European|  Help Desk Operator|     Ernest Knight|         High|                  Gold|       Institutional|      169,935.23|             42,825.90|                     2|           4,568.74|1,052,715.84| 1,033,401.59|       652,674.69|     203,054.35|               79,071.78|      548,137.58|               1|             3|
| PKR72498| Virginia Garza| 40|  Male|      34594|  3/28/1993|      Steve Diaz|   American|        Geologist II|         Eric Shaw|          Mid|                Silver|       Institutional|      356,808.11|              5,473.15|                     2|           4,205.00|  121,195.06| 1,048,157.49|     1,048,157.49|     234,685.02|               57,513.65|    1,148,402.29|               0|             4|
| PKR60181|Melissa Sanders| 46|Female|      41269|  7/20/2012|      Shawn Long|   American| Assistant Professor|         Kevin Kim|          Mid|              Platinum|        Private Bank|      130,711.68|             48,077.60|                     1|           3,779.49|1,048,301.95|   487,782.53|       446,644.25|     128,351.45|               30,012.14|    1,674,412.12|               0|             3|
+---------+---------------+---+------+-----------+-----------+----------------+-----------+--------------------+------------------+-------------+----------------------+--------------------+----------------+----------------------+----------------------+-------------------+------------+-------------+-----------------+---------------+------------------------+----------------+----------------+--------------+
only showing top 5 rows

In [27]:
spark.sql("select Name, Sex, Occupation, 'Location ID' from df").show()

+-----------------+------+--------------------+-----------+
|             Name|   Sex|          Occupation|Location ID|
+-----------------+------+--------------------+-----------+
|    Raymond Mills|  Male|Safety Technician IV|Location ID|
|    Julia Spencer|  Male| Software Consultant|Location ID|
|   Stephen Murray|Female|  Help Desk Operator|Location ID|
|   Virginia Garza|  Male|        Geologist II|Location ID|
|  Melissa Sanders|Female| Assistant Professor|Location ID|
|    Samuel Hudson|  Male|Help Desk Technician|Location ID|
|Timothy Alexander|Female| Account Coordinator|Location ID|
|      Carl Martin|Female|Automation Specia...|Location ID|
|       Philip Day|Female|Software Test Eng...|Location ID|
|       Jason Sims|  Male|       Geologist III|Location ID|
|     Amy Martinez|  Male|Administrative Of...|Location ID|
|   David Johnston|Female|Database Administ...|Location ID|
|     Wayne Foster|Female|     Staff Scientist|Location ID|
|     Carlos Moore|Female|        Programmer I|Location ID|
|    Lisa Johnston|  Male|Software Test Eng...|Location ID|
|     Andrew Mills|  Male|             Actuary|Location ID|
|     Jack Coleman|Female| Staff Accountant II|Location ID|
|        Aaron Day|Female|Assistant Media P...|Location ID|
|     Kevin Weaver|Female|  Staff Accountant I|Location ID|
|         Mary Fox|Female|Compensation Analyst|Location ID|
+-----------------+------+--------------------+-----------+
only showing top 20 rows

In [28]:
spark.sql("select count(*) from df").show()

+--------+
|count(1)|
+--------+
|    3000|
+--------+

In [29]:
spark.sql("select avg(age) from df").show()

+-----------------+
|         avg(age)|
+-----------------+
|51.03966666666667|
+-----------------+

In [30]:
spark.sql("select avg(age), Sex from df group by Sex").show()

+------------------+------+
|          avg(age)|   Sex|
+------------------+------+
|50.789021164021165|Female|
| 51.29435483870968|  Male|
+------------------+------+